/* media screen MDPI 1220 px to 1290 */
@media screen and (min-width: 1220px) and (max-width: 1290px){
    body{
        background-size: 1150px;
        background-position-x: 360px;
        background-position-y: -35px;
    }
    .block-bg-img1{
        height: 350px;
        width: 300px;
    }
    .block-bg-img2{
        height: 350px;
        width: 300px;
    }
    .block-bg-img3{
        height: 350px;
        width: 300px;
    }
    .blog-c{
        width: 300px;
    }
    .client1{
        width: 200px;
        height: 150px;
    }
    .client2{
        width: 215px;
        height: 150px;
    }
    .client3{
        width: 200px;
        height: 150px;
    }
    .client4{
        width: 220px;
        height: 150px;
    }
    .client5{
        width: 200px;
        height: 150px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1290px){
    body{
        background-size: 1150px;
        background-position-x: 256px;
        background-position-y: -60px;
    }
    .say-about-line-div{
        width: 70%;
    }
    .say-about-line{
        width: 100%;
    }

}
@media screen and (min-width: 1550px) {
    body{
        background-image: none;
    }
    .menu li a{
        color:#3D37F1;
    }
    .menu li a:hover{
        color: #3D37F1;
        text-shadow: 0px 0px 40px #3D37F1;
    }
    .header-b-i{
        color: #ffffff !important;
    }
}