*{
    margin: 0;
    padding: 0;
}
/* -----------------------menu background image --------------------- */
body {
    background-image: url(img/menu-background.svg);
    background-repeat: no-repeat; 
    background-size: 1150px;
    background-position-x: 150%;
    background-position-y: -1%;
}
.container{
    width: 75%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    z-index: 100;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
.logo{
    margin-top: 35px;
}
.menu li{
    list-style: none;
    margin-left: 45px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 37px !important;
    z-index: 1;
}
.menu li a{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s ease;
}
.menu li a:hover{
    color: #FF8923;
}
.header-button{
    background-color: #FF8923;
    padding: 13px 50px 13px 50px;
    border: 2px solid #FF8923;
    border-radius: 35px;
    font-weight: 700;
    transition: all 0.5s ease;
}
.header-button:hover{
    box-shadow: 0px 0px 40px #FF8923;
    color: #ffffff !important;
}
.header-slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-slogan-info{
    margin-top: 190px;
}
.slogan-info-h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:#534D4D;
}
.slogan-info-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #534D4D;
    padding-top: 30px;
    padding-bottom: 50px;
}
.header-slogan-button{
    text-decoration: none;
    color: #ffffff;
    background-color: #3D37F1;
    padding: 17px 37px 17px 37px;
    margin-top: 75px !important;
    border-radius: 35px;
    align-items: center;
    transition: all 0.5s ease;
}
.header-slogan-button:hover{
    box-shadow: 0px 0px 40px #3D37F1;
}
.header-slogan-button:focus{
    color: #ffffff;
}
.header-slogan-button-img{
    width: 20px;
}
.slogan-img{
    width: 500px;
    margin-top: 190px;
}
.services{
    margin-top: 230px;
    margin-bottom: 200px;
}
.services-block{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 400px !important;
}
.services-info{
    text-align: center;
    width: 468px;
}
.services-info-p-color{
    padding-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #3D37F1;
}
.services-info-h3{
    padding-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #5A5454;
}
.services-info-p{
    padding-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#747474;
}
.services-blocks-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.block-img{
   width: 100px;
   margin: auto;
   margin-top: 60px;
}
.block-h5{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.block-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    width: 75%;
    margin: auto;
}
.block-button{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    width: 40%;
    text-align: center;
    margin: auto;
    /* рамки кнопки */
    padding: 15px 35px 15px 35px;
    border: 2px solid #ffffff;
    border-radius: 35px;
    transition: all 0.5s ease;
    margin-bottom: 60px;

}
.block-button:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 35px;
    color: #4B647E;
}
.block-button:focus{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 35px;
}
.block-1{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #DFA871 0%, #FBBA77 100%) 0% 0% no-repeat padding-box;
    /* padding: 20px; */
}
.block-2{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #41EAE3 0%, #2293B7 100%) 0% 0% no-repeat padding-box;
}
.block-3{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #69529F 0%, #463864 100%) 0% 0% no-repeat padding-box;
}
.block-4{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #4386D2 0%, #0962C5 100%) 0% 0% no-repeat padding-box;
}
.block-5{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #A5A2F6 0%, #564FD6 100%) 0% 0% no-repeat padding-box;
}
.block-6{
    width: 300px;
    height: 330px;
    background: transparent linear-gradient(294deg, #FF8088 0%, #984141 100%) 0% 0% no-repeat padding-box;
}
.about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.about-us-img{
    width: 50%;
}
.about-info{
    width: 35%;
}
.about-h3{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #5A5454;
    padding-bottom: 17px;
}
.about-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #747474;
    padding-bottom: 15px;
}
.about-video-button{
    width: 50px;
}
.about-video-info{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.video-info-p{
    padding-left: 20px;
}
.portfolio-bc{
    background-color: #F8F8F8;
}
.portfolio-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.portfolio-info h3{
    font-size: 22px;
}
.portfolio-info p{
    font-size: 19px;
}
.portfolio-info{
    margin-bottom: 50px;
}
.portfolio-grid-filter{
    display: flex;
    justify-content: space-between;
    height: 850px;
}
.grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-column-gap: 10px;
    justify-content: space-between;
}
.grid-item img{
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.grid-item{
    height: 200px;
    justify-self: center;
}
.grid-filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.grid-button{
    border: none;
    /* border-top: 0; */
    /* border-left: 1px solid #000; */
    /* border-width: 0px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #969CA2;
    cursor: pointer;
    background-color: #F8F8F8;
    /* padding: 0px 40px; */
    padding-right: 60px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: start;
    border-bottom: 1px solid #ffffff00 !important;
    transition: color 0.5s ease-in-out;
}

.grid-button:hover {
    /* border-width: 60px; */
    color: #3D37F1;
    /* border-bottom: 2px solid #3D37F1 !important;  */
}
.grid-button:focus{
    color: #3D37F1;
}
.grid-img {
    width: 280px;
    border-radius: 7px;
    box-shadow: 0px 0px 40px rgba(61, 55, 241, 0.13);
}
.underline-from-left {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.underline-from-left:before{
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #3D37F1;
        height: 2px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
}
.underline-from-left:hover:before{
    right: 0;
}
.success{
    padding-top: 120px;
    padding-bottom: 200px;
}
.success-info{
    text-align: center;
    z-index: 20;
    margin-bottom: 40px;
}
.success-counter{
    display: flex;
    justify-content: space-between;
}
.project-count{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 40px rgb(197, 195, 249);
}
.fiolet{
    background: transparent linear-gradient(294deg, #AF94FD 0%, #6651F3 100%) 0% 0% no-repeat padding-box;
}
.pink{
    background: transparent linear-gradient(294deg, #FF95A5 0%, #FF62A3 100%) 0% 0% no-repeat padding-box;
    
}
.orange{
    background: transparent linear-gradient(294deg, #FBC9A4 0%, #FF884A 100%) 0% 0% no-repeat padding-box;
}
.count-p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4B647E;
    margin-top: 20px;
}
.squar{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 40px rgba(174, 148, 253, 0.178);
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
}
.squar:hover {
    transform: translateY(-15px);
}
.say-about{
    background-color:#0C0F32;
    padding-top: 130px;
    padding-bottom: 150px;
}
.say-about-bg{
    /* background-color:#0C0F32; */
    display: flex !important;
    justify-content: space-between !important;
    padding-bottom: 70px;
}
.say-column-1{
    width: 30%;
    margin-left: 35px;
    align-self: center;
    opacity: 60%;
}
.l-r-1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.left-r-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}
.say-l-3{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.say-column-2{
    width: 40%;
}
.say-column-3{
    width: 30%;
    margin-right: 35px;
    align-self: center;
    opacity: 60%;
}
.say-r{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.say-c-r2{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 50px;
}
.say-c-r3{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.say-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.say-about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.say-about-h3{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
    color: white;
}
.say-about-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.288);
}
.row-3-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.say-info-img{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 100px;
    /* height: 200px !important; */
}
.slide-2 img{
    height: 186px;
}
.slide-3 img{
    height: 186px;
}
.slide-4 img{
    height: 186px;
}
.slide-5 img{
    height: 186px;
}
.say-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 320;
    font-size: 14px;
    color: #D6D6D6;
    text-align:center;
    width: 500px;
    
}
.say-bold-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 320;
    font-size: 20px;
    color: #8F8BFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.say-bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.say-bottom-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.418);
    padding-bottom: 30px;
}
.say-bottom-p-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: rgb(255, 255, 255);
    width: 400px;
}

.slick-arrow{
    z-index: 1000000 !important;
    top: 110% !important;
    right: 0 !important;
}
.slick-prev{
    left: 42% !important;
}
.slick-next{
    right: 42% !important;
}
.features{
    background-color: #F8F8F8;
    padding-top: 150px;
    padding-bottom: 150px;
}
.block-bg-img1{
    background-image: url('https://cdn.pixabay.com/photo/2017/06/26/12/56/laptop-2443734_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 10px 40px rgb(197, 195, 249);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.block-bg-img1:hover{
    transform: translateY(-30px);
}
.block-bg-color1{
    z-index: 10;
    background-color: #131b7cb5;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    display: flex;
    transition: background-color 0.5s ease-in-out;
}
.block-bg-color1:hover{
    background-color:#131b7c;
}
.block-bg-img2{
    background-image: url('https://cdn.mos.cms.futurecdn.net/YugtUL3i9K9fn8Lfei2UkH.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 10px 40px rgb(197, 195, 249);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.block-bg-img2:hover{
    transform: translateY(-30px);
}
.block-bg-color2{
    z-index: 10;
    background-color: #f36f21cc;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    display: flex;
    transition: background-color 0.5s ease-in-out;
}
.block-bg-color2:hover{
    background-color:#f36f21;
}
.block-bg-img3{
    background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 10px 40px rgb(197, 195, 249);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.block-bg-img3:hover{
    transform: translateY(-30px);
}
.block-bg-color3{
    z-index: 10;
    background-color: #a5a2f6bf;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    display: flex;
    transition: background-color 0.5s ease-in-out;
}
.block-bg-color3:hover{
    background-color:#a5a2f6;
}
.block-infow{
    width: 80%;
    margin: auto;
}
.features-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-img2{
    margin-bottom: 45px;
}
.block-h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #ffffff;
}
.block-p2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.workflow{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}
.workflow-img{
    /* width: 500px; */
    align-self: center;
    width: 45%;
}
.workflow-img img{
   width: 100%;
}
.workflow-info{
    width: 500px;
    align-items: center;
}
.workflow-h5{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #5A5454;
    padding-bottom: 30px;
}
.workflow-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #534D4D;
    padding-bottom: 50px;
}
.buttons{
    border-radius: 50px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.step-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #747474;
    width: 150px;
}
.step-p1{
    font-size: 18px;
    color: #545454;
    margin-bottom: 4px;
}
.step-p2{
    font-size: 14px;
    color: #a2a2a2;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.row2{
    display: flex;
    justify-content: space-between;
}
.row3{
    display: flex;
    justify-content: space-between;
}
.row4{
    display: flex;
    justify-content: space-between;
}
.wstep{
    width: 490px;
}
.step{
    display: flex;
    padding-bottom: 35px;
}
.step9{
    /* width: 185px !important; */
    display: flex !important;
}
.step1-b{
    background-color:#3D37F1;
}
.step2-b{
    background-color:#9997DF;
}
.step3-b{
    background-color:#FFBA3F;
}
.step4-b{
    background-color:#E66E6E;
}
.step5-b{
    background-color:#66659F;
}
.step6-b{
    background-color:#F17637;
}
.step7-b{
    background-color:#37F1BE;
}
.step8-b{
    background-color:#F137E5;
}
.step9-b{
    background-color:#F13D37;
}
.blog-bg{
    background-color: #FBFCFD;
}
.blog{
    padding-top: 150px;
    padding-bottom: 150px;
}
.blog-info{
    margin-bottom: 60px;
    text-align: center;
}
.blog-link{
    display: flex;
    justify-content: space-between;
}
.blog-c{
    width: 330px;
    box-shadow: 0px 10px 40px rgb(197, 195, 249);
    transition: all 0.3s ease-in-out;
}
.blog-c:hover{
    transform: translateY(-10px);
}
.h3-blog{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #5A5454;
    margin-bottom: 15px;
}
.blog-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #747474;
}
.blog-c a{
    text-decoration: none;
}
.blog-title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #5A5454;
    line-height: 25px;
    margin-bottom: 25px !important;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}
.blog-title:hover{
    color: #3d37f1;
}
.blog-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #747474;
    margin-bottom: 35px !important;
}
.blog-img-div{
    height: 225px;
}
.blog-img{
    width: 100%;
}
.blog-box-container{
    width: 85%;
    margin: auto;
}
.blog-img-link{
    display: block;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}
.blog-img-link:hover{
    transform: translateX(10px);
}
.clients{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.client1{
    background-image: url(img/client1-grey.png);
    width: 200px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}
.client1:hover{
    background-image: url(img/client1.png);
}
.client2{
    background-image: url(img/client2-grey.png);
    width: 200px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}
.client2:hover{
    background-image: url(img/client2.png);
}
.client3{
    background-image: url(img/client3-grey.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}
.client3:hover{
    background-image: url(img/client3.png);
}
.client4{
    background-image: url(img/client4-grey.png);
    width: 220px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}
.client4:hover{
    background-image: url(img/client4.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 150px;
}
.client5{
    background-image: url(img/client5-grey.png);
    width: 200px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}
.client5:hover{
    background-image: url(img/client5.png);
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
}
.footer-logo{
    margin-bottom: 30px;
}
.footer-p-d{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #747474;
    margin-bottom: 30px;
    width: 250px;
}
.footer-h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #747474;
    transform: color 0.5s ease-in-out;
    margin-bottom: 30px;
}
.footer-h5:hover{
    color: #3D37F1;
}
.footer-p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #747474;
    transform: color 0.5s ease-in-out;
    margin-bottom: 20px;
}
.footer-p:hover{
    color: #3D37F1;
}
.footer-title:hover{
    color:#747474
}
.social {
    background-color: #0A315A;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.fcontact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding-bottom: 15px;
    color: #747474;
    transition: color 0.5s ease-in-out;
}
.fcontact:hover{
    color: #3D37F1;
}